<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view >
  <ion-content class="padding">
    <form ng-submit="put(card)" name="editTaskForm">
      <div class="card">
        <div class="item item-divider">
          <h1 contenteditable="true" ng-model="card.name"> {{card.name}} </h1>
        </div>
        <div class="item item-body">
          <p contenteditable="true" ng-model="card.desc"> {{card.desc}} </p>
        </div>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive" ng-disabled="editTaskForm.$pristine || editTaskForm.$submitted">Save</button>
      </div>
    </form>

    <h3> Comments </h3>
    <div class="list card">
      <div class="item-remove-animate" ng-repeat="comment in card.comments">
        <div class="item item-divider dark">
          {{comment.memberCreator.fullName}}
        </div>
        <div class="item item-text-wrap">
          <p>{{action.data.text}}</p>
          <p class="subdued">On {{comment.date}}</script> </p>
        </div>
      </div>      
    </div>

    <h3> History </h3>
    <div class="list card">
      <div class="item-remove-animate" ng-repeat="activity in card.history">
        <div class="item item-divider dark">
          {{activity.memberCreator.fullName}}
        </div>
        <div class="item item-text-wrap">
          <p> {{activity.data.text}} </p>
          <p class="subdued">On {{activity.date}}</script> </p>
        </div>
      </div>      
    </div>

  </ion-content>
</ion-view>
