<ion-view view-title="Report New Issue">
  <ion-content>

      <form ng-submit="add(newcard)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What is name of this issue?" ng-model="newcard.name">
          </label>
		      <label class="item item-input">
            <input type="text" placeholder="Describe this issue" ng-model="newcard.desc">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Report Issue</button>
        </div>
      </form>

    </ion-content>

</ion-view>
