<ion-view view-title="Assigned to Me">
  <ion-nav-buttons side="left">
      <button type = "button" class="button button-clear ion-plus-round balanced" ng-click="openModal()"></button>
  </ion-nav-buttons>
<ion-content>
    <ion-refresher on-refresh="refresh()"
                         pulling-text="Pull to refresh..."
                         refreshing-text="Refreshing!"
                         refreshing-icon="ion-loading-c">

    </ion-refresher>
    <div class="list">
      <div class="item-remove-animate" ng-repeat="card in cards">
        <div class="card" id="task-card">
          <div class="item item-divider">
            {{card.name}}
          </div>
          <a class="item item-text-wrap" href="#/tab/cards/{{card.id}}">
            <p>{{card.desc}}</p>
            <p class="subdued">Due on {{card.due}}</script> </p>
            <div class="row">
              <div class="col col-offset-90">
                <button class="button button-balanced padding-horizontal" ng-click="remove(card)">
                  <i class="ion-android-done"></i>
                </button>
              </div>
            </div>
          </a>
        </div>      
      </div>
    </div>
  </ion-content>
</ion-view>

