<ion-view view-title="All Departments">
  <ion-content>
    <ion-refresher on-refresh="refresh()"
                         pulling-text="Pull to refresh..."
                         refreshing-text="Refreshing!"
                         refreshing-icon="ion-loading-c">

    </ion-refresher>
    <ion-list>
      <div ng-repeat="department in departments">
          <ion-item class="item-stable item-icon-left"
                    ng-click="toggleDepartment(department)"
                    ng-class="{active: isDepartmentShown(department)}"
                    type="item-text-wrap">
            <i class="icon positive" ng-class="isDepartmentShown(department) ? 'ion-android-remove-circle' : 'ion-android-add-circle'"></i>
            <h2>{{department.name}}</h2>
          </ion-item>


          <div class="item-remove-animate" ng-repeat="shownCard in shownDepartmentCards"
                    ng-show="isDepartmentShown(department)">
            <div class="card" id="task-card">
              <div class="item item-divider dark">
                {{shownCard.name}}
              </div>
              <a class="item item-text-wrap" href="#/tab/cards/{{shownCard.id}}">
                <p>{{shownCard.desc}}</p>
                <p class="subdued">Due on {{shownCard.due}}</script> </p>
              </a>
            </div>      
          </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>