<ion-view>
<div class="bar bar-header bar-balanced custom-dark">
  <h1 class="title custom-dark">XYZ corp</h1>
</div>
<ion-content class="has-header">
<img class="full-image" src="img/test.jpg">
  <a href="#/tasks/assignedtome" style="text-decoration: none;">
  	<md-card class="tasks-theme md-whiteframe-20dp" style="padding: 0px">
 		<md-card-title>
 			<md-card-title-text>  <span class="md-headline">Tasks</span>
            <span class="md-subhead">10 new tasks</span>
            </md-card-title-text>

 		</md-card-title>	
 	</md-card>
 </a>
 <a href="#" style="text-decoration: none;">
 	<md-card class="status-theme md-whiteframe-20dp">
 		<md-card-title>
 			<md-card-title-text>  <span class="md-headline">Status</span>
            
            </md-card-title-text>

 		</md-card-title>	
 	</md-card>
 </a>
 <a href="#" style="text-decoration: none;">
 	<md-card class="newsbulletin-theme md-whiteframe-20dp">
 		<md-card-title>
 			<md-card-title-text>  <span class="md-headline">News Bulletin</span>
            
            </md-card-title-text>

 		</md-card-title>	
 	</md-card>
 </a>
 <a href="#" style="text-decoration: none;">
 	<md-card class="employeedirectory-theme md-whiteframe-20dp">
 		<md-card-title>
 			<md-card-title-text>  <span class="md-headline">Employee Directory</span>
            
            </md-card-title-text>

 		</md-card-title>	
 	</md-card>
 </a>
</ion-content>
</ion-view>