<ion-view title="All Departments">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <button type = "button" class="button button-clear ion-plus-round balanced" ng-click="openModal()"></button>
  </ion-nav-buttons>
<ion-content class="has-header">
    <ion-refresher on-refresh="refresh()"
                         pulling-text="Pull to refresh..."
                         refreshing-text="Refreshing!"
                         refreshing-icon="ion-loading-c">

    </ion-refresher>
    <ion-list>
      <div ng-repeat="department in departments">
          <ion-item class="item-stable item-icon-left"
                    ng-click="toggleDepartment(department)"
                    ng-class="{active: isDepartmentShown(department)}"
                    type="item-text-wrap">
            <i class="icon positive" ng-class="isDepartmentShown(department) ? 'ion-android-remove-circle' : 'ion-android-add-circle'"></i>
            <h2>{{department.name}}</h2>
          </ion-item>

          <div class="item-remove-animate" ng-repeat="shownCard in shownDepartmentCards" ng-show="isDepartmentShown(department)">
            <md-card class="md-whiteframe-3dp" style="margin-left:0px;margin-right: 0px;border-radius: 0px">
              <md-card-title  style="padding:4px">
                <div layout="row" style="width:100%">
                  
                  <div flex="90" style="padding-left:10px">
                    <md-card-title-text>  
                      <a href="#/tasks/cards/{{shownCard.id}}" style="text-decoration: none">  
                        <span class="md-headline" style="font-size: 20px;color:#3F51B5;margin-bottom: 5px">{{shownCard.name}}</span>
                         <span class="md-body-1" style="color: #424242"><p>{{shownCard.desc}}</p></span>
                         <span class="md-body-1" style="color: grey;font-size: 12px">Updated on Mon 11:10 AM</span>
                      </a>
                    </md-card-title-text>
                  </div>
                  
                  <div flex="10" style="padding-right: 50px">
                    <md-button class="md-icon-button" aria-label="Favorite" ng-click="subscribe(shownCard)">
                     <md-icon md-font-set="material-icons" style="color: #3F51B5"> {{shownCard.starIcon}}</md-icon>
                    </md-button>
                  </div>
                </div>
              </md-card-title>  
            </md-card>   
          </div>

          <!--
          <div class="item-remove-animate" ng-repeat="shownCard in shownDepartmentCards" ng-show="isDepartmentShown(department)">
            <div class="card" id="task-card">
              <div class="item item-divider dark">
                {{shownCard.name}}
              </div>
              <a class="item item-text-wrap" href="#/tasks/cards/{{shownCard.id}}">
                <p>{{shownCard.desc}}</p>
                <p class="subdued">Due on {{shownCard.due}}</script> </p>
              </a>
            </div>      
          </div>
          -->
      </div>
    </ion-list>
  </ion-content>
</ion-view>