<ion-view>
<div class="bar bar-header bar-balanced">
  <h1 class="title">Home</h1>
</div>
<ion-content class="has-header">

<div class="row">
	<div class = "col">
		<a href = "#/tasks/assignedtome">
			<div class="card">
				 <img src="img/tasks.png">
			</div>
		</a>
	</div>
	<div class = "col">
	<md-button class="md-raised">Button</md-button>
      <md-button class="md-raised md-primary">Primary</md-button>
      <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
      <md-button class="md-raised md-warn">Warn</md-button>
      	<!--<button class="button icon-left ion-star button-dark">Status</button>-->
	</div>	
</div>
</ion-content>
</ion-view>