 .custom-dark{
    background-color:#303F9F !important;
    color:white!important;
}

.tasks-theme{
	background-color: #3F51B5 !important;
	color:white!important;
}

.status-theme{
	background-color: #00897B !important;
	color:white!important;
}

.newsbulletin-theme{
	background-color: #4CAF50 !important;
	color:white!important;
	text-decoration: none;
}

.employeedirectory-theme{
	background-color: #FF9800 !important;
	color:white!important;
}

.md-button.md-fab.md-fab-bottom-right {
top: auto;
right: 20px;
bottom: 20px;
left: auto;
position: fixed;
}